.puzzle-selection {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.puzzle-selection-grid {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: auto;
  gap: 2rem;
}

.puzzle-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-radius: 5px;
}

.puzzle-selection-container:hover {
  cursor: pointer;
  background-color: #3E588F;
}

.puzzle-selection-img {
  width: 18rem;
  height: 25rem;
}