body {
  background-color: #203562;
}

.button {
  outline: none;
  padding: 0 .5rem;
  border: 1px solid #E3E8F8;
  border-radius: 5px;
  background-color: #3E588F;
  color: #E3E8F8;
  text-transform: uppercase;
}

.button:hover {
  border: 1px solid #3E588F;
  background-color: #E3E8F8;
  color: #3E588F;
  cursor: pointer;
}