.header {
  color: #E3E8F8;
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-menu-link {
  text-decoration: none;
  color: #E3E8F8;
}