.puzzle-space-container {
  position: relative;
}

.puzzle-helper-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

.puzzle-space {
  width: 100vw;
}